doctype html
html
 head
  title #{title}
  base(href="http://localhost:5000/")
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="description" content="#{desc}")
  meta(name="keywords" content="story, writers, social")
  meta(name="author" content="Deon Rich")
  meta(name="copyright" content="Deon Rich")
  link(rel="canonical" href="#{canonical}")
 body 
  div(id="root")

//  VARIABLES: title, desc, canonical
 
