/* main-intro styles... */

.main-intro {
background-image: var(--main-bg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
position: relative;
display: block;
width: 100%;
text-align: center;
}

.main-intro__article {
width: 100%;
min-height: 100vh;
background: linear-gradient(to bottom, rgba(0,0,0,0.5),95%, white);
color: white;
font-family: var(--main-font);
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 2em;
padding-bottom: 6em;
padding-top: 6em;
}

.main-intro__button {
min-width: 8rem;
min-height: 3rem;
color: white;
font-family: var(--main-font);
border: none;
border-radius: var(--border-r);
background: var(--main-green);
padding: 1em;
margin-top: 2em;
box-shadow: 0px 0px 10px #222222;
}

.main-intro__header {
margin: 0;
padding: 0;
font-size: 2.8rem;
}

.main-intro__text {
margin-top: 1em;
line-height: 1.5em;
}

.main-intro__text, .main-intro__button {
font-size: 1.5rem;
}

/* features styles... */

.main-features {
width: 100%;
min-height: 100%;
padding: 2em;
box-sizing: border-box;
padding-top: 2em;
padding-bottom: 8em;
}

.main-features__feature {
width: 80%;
display: block;
margin: auto;
padding: 2em;
box-shadow: 0px 0px 10px gray;
border-radius: var(--border-r);
text-align: center;
margin-top: 4em;
}

.main-features__feature-img {
width: 70%; 
margin-bottom: 2em;
box-shadow: inset 0px 0px 10px #e0e0e0;
padding: 2em;
}

.main-features__feature-text {
color: gray;
font-family: var(--main-font);
line-height: 1.5em;
margin-bottom: 2em;
}

.main-features__feature-header {
font-size: 2em;
font-family: var(--main-font);
color: var(--main-blue);
}

.main-features__feature-link {
background: var(--main-green);
font-family: var(--main-font);
font-size: 1em;
padding: 1em;
color: white;
border-radius: var(--border-r);
text-align: center;
box-shadow: 0px 0px 10px #e0e0e0;
text-decoration: none;
}

.main-features__Customization {
transform: rotate(-1deg);
}

.main-features__Exploration, .main-features__Immersion {
transform: rotate(1deg);
}

/* Media queries... */

@media screen and (orientation: landscape) and (width > 800px) {
.main-features__feature {
min-height: 20%;
display: grid;
grid-template-columns: 40% 60%;
grid-template-rows: auto auto auto;
box-shadow: 0px 0px 10px gray;
}

.main-features__feature-img {
margin-right: 2em;
height: calc(100% - 4em);
padding: 2em;
float: left;
grid-column: 1/2;
grid-row: 1/4;
display: inline-block;
}

.main-features__feature-text {
float: right;
text-align: center;
grid-column: 2/3;
grid-row: 2/3;
}

.main-features__feature-header {
grid-row: 1/2;
grid-column: 2/3;
text-align: center;
}

.main-features__feature-link {
width: 50%;
margin: auto;
grid-column: 2/3;
grid-row: 3/4;
}
}

@media screen and (width > 1300px) {
:root {
font-size: 130%;
}
}

@media screen and (width > 1700px) {
:root {
font-size: 140%;
}
.main-features {
font-size: 120%;
}
}
