body {
background-image: var(--main-bg);
background-size: cover;
background-position: center center;
}

.form-container {
min-height: 100vh;
width: 100vw;
padding: 1em;
text-align: center;
padding-top: 6em;
padding-bottom: 4em;
background: rgba(0,0,0,0.5);
box-sizing: border-box;
}

.form-container__form {
background: white;
border-radius: var(--border-r);
font-family: var(--main-font);
box-sizing: border-box;
display: block;
margin: auto;
padding: 2em;
width: 100%;
color: gray;
box-shadow: 0px 0px 10px black;
}

.form-container__heading {
color: var(--main-blue);
font-size: 2em;
}

.form-container__form * {
margin: auto;
margin-bottom: 1em;
display: block;
}

.form-container__form input {
height: 3em;
width: 80%;
min-width: 5em;
font-family: var(--main-font);
border-radius: 0px;
border: none;
padding: 0.2em;
padding-left: 1em;
border-bottom: 3px solid #e0e0e0;
box-shadow: inset 0px 0px 4px #e0e0e0;
outline: none;
}

.form-container__form input:valid {
border-color: lime;
}

.form-container__form input:focus:invalid {
border-color: red;
}

.form-container__form input:focus:valid {
border-color: orange;
}

.form-container__btn {
width: 50%;
display: block;
margin: auto;
padding: 1em;
margin-top: 2em;
margin-bottom: 2em;
background: var(--main-green);
color: white;
border-radius: var(--border-r);
border: none;
box-shadow: 0px 0px 5px #e0e0e0;
}

.form-container__logo {
width: 5em;
display: block;
margin: auto;
}

.form-container__form a {
color: var(--main-green);
}

@media screen and (width > 800px) {
.form-container__form {
width: 0;
min-width: 40vw;
min-height: 20vmin;
}
}

@media screen and (width > 1200px) {
.form-container__form {
width: 0;
min-width: 20vmin;
min-height: 20vmin;
}
}


