/* Color scheme: #83E52C, #3A424A, #AD8D52
 *
 *
 */

:root {
--main-green: #83E52C;
--main-blue: #3A424A;
--main-font: 'Ubuntu', sans-serif;
--border-r: 3px;
--main-bg: url("../images/cover-image2.jpg");
}

html,body {
height: 100%;
margin: 0;
padding: 0;
overflow-X: hidden;
background: white;
}

footer {
width: calc(100% - 2em);
height: 20vh;
border-top: 1px solid #e0e0e0;
padding: 1em;
padding-top: 4em;
text-align: center;
}

footer p {
color: #e0e0e0;
font-size: 1em;
height: 50%;
line-height: 10vh;
margin: 0;
padding: 0;
text-align: center;
font-family: var(--main-font);
}

.social-links {
font-size: 2em;
color: #e0e0e0;
margin: auto;
display: block;
}

.social-links i {
display: inline-block;
}

.social-links i:nth-child(-n+2) {
margin-right: 1em;
}

#root {
width: 100%;
height: 100%;
}

/* Header styles... */

.main-header {
display: block;
position: relative;
top: 0;
padding-left: 0.5em;
padding-right: 0.5em;
box-sizing: border-box;
width: 100%;
height: 4rem;
line-height: 4rem;
text-align: center;
z-index: 1;
background-color: white;
box-shadow: 0px 0px 3px gray;
}

.main-header * {
display: inline-block;
position: relative;
}

.main-slogan {
font-size: 0.7rem;
margin: 0;
padding: 0;
width: auto;
font-family: var(--main-font);
color: var(--main-blue);
}

.main-logo, .main-logo img {
height: 80%;
vertical-align: middle;
}

.main-logo {
height: 100%; 
float: left;
}

.main-menu {
height: 100%;
width: 2.5rem;
float: right;
}

.main-menu i {
font-size: 2.5rem; 
color: var(--main-blue);
height: 100%;
line-height: 1.5;
}

.main-menu__dropdown {
width: 150px;
position: relative;
display: block;
right: calc(150px - 2rem);
background: white;
border-radius: var(--border-r);
box-shadow: 0px 0px 10px black;
text-align: center;
animation: drop-in 0.2s ease-in;
}

.main-menu__dropdown ul {
text-align: center;
padding: 0;
}

.main-menu__dropdown li {
width: 80%;
}

.main-menu__dropdown ul > li:nth-child(1) {
border-bottom: 1px solid #e0e0e0;
}

.main-menu__dropdown a {
color: var(--main-green);
font-family: var(--main-font);
text-decoration: none;
}

.main-menu__dropdown a > i {
color: var(--main-green);
font-size: 1em;
}

@keyframes drop-in {
0% {
opacity: 0;
transform: translateY(-2em);
}
100% {
opacity: 1;
transform: translateY(0);
}
}

/* main-intro styles... */

.main-intro {
background-image: var(--main-bg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
position: relative;
display: block;
width: 100%;
text-align: center;
}

.main-intro__article {
width: 100%;
min-height: 100vh;
background: linear-gradient(to bottom, rgba(0,0,0,0.5),95%, white);
color: white;
font-family: var(--main-font);
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 2em;
padding-bottom: 6em;
padding-top: 6em;
}

.main-intro__button {
min-width: 8rem;
min-height: 3rem;
color: white;
font-family: var(--main-font);
border: none;
border-radius: var(--border-r);
background: var(--main-green);
padding: 1em;
margin-top: 2em;
box-shadow: 0px 0px 10px #222222;
}

.main-intro__header {
margin: 0;
padding: 0;
font-size: 2.8rem;
}

.main-intro__text {
margin-top: 1em;
line-height: 1.5em;
}

.main-intro__text, .main-intro__button {
font-size: 1.5rem;
}

/* features styles... */

.main-features {
width: 100%;
min-height: 100%;
padding: 2em;
box-sizing: border-box;
padding-top: 2em;
padding-bottom: 8em;
}

.main-features__feature {
width: 80%;
display: block;
margin: auto;
padding: 2em;
box-shadow: 0px 0px 10px gray;
border-radius: var(--border-r);
text-align: center;
margin-top: 4em;
}

.main-features__feature-img {
width: 70%; 
margin-bottom: 2em;
box-shadow: inset 0px 0px 10px #e0e0e0;
padding: 2em;
}

.main-features__feature-text {
color: gray;
font-family: var(--main-font);
line-height: 1.5em;
margin-bottom: 2em;
}

.main-features__feature-header {
font-size: 2em;
font-family: var(--main-font);
color: var(--main-blue);
}

.main-features__feature-link {
background: var(--main-green);
font-family: var(--main-font);
font-size: 1em;
padding: 1em;
color: white;
border-radius: var(--border-r);
text-align: center;
box-shadow: 0px 0px 10px #e0e0e0;
text-decoration: none;
}

.main-features__Customization {
transform: rotate(-1deg);
}

.main-features__Exploration, .main-features__Immersion {
transform: rotate(1deg);
}

/* Media queries... */

@media screen and (width < 400px) {
.main-slogan {
display: none;
}
}

@media screen and (orientation: landscape) and (width > 800px) {
.main-features__feature {
min-height: 20%;
display: grid;
grid-template-columns: 40% 60%;
grid-template-rows: auto auto auto;
box-shadow: 0px 0px 10px gray;
}

.main-features__feature-img {
margin-right: 2em;
height: calc(100% - 4em);
padding: 2em;
float: left;
grid-column: 1/2;
grid-row: 1/4;
display: inline-block;
}

.main-features__feature-text {
float: right;
text-align: center;
grid-column: 2/3;
grid-row: 2/3;
}

.main-features__feature-header {
grid-row: 1/2;
grid-column: 2/3;
text-align: center;
}

.main-features__feature-link {
width: 50%;
margin: auto;
grid-column: 2/3;
grid-row: 3/4;
}
}

@media screen and (width > 800px) {
footer {
text-align: center;
padding-top: 1em;
}
footer * {
display: inline-block !important;
}
.social-links {
vertical-align: middle;
margin-right: 4em;
}
footer p {
height: 100%;
line-height: 20vh;
}
}

